# Data and model artifacts
data/
model.h5
mlruns/
logs/
models/

# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
.pytest_cache/

# Jupyter and notebook checkpoints
.ipynb_checkpoints/

# DVC and other tool caches
*.dvc
*.DS_Store

# Environment and OS files
.env
*.env
*.bak
*.swp

# Docker/venv
*.sqlite3
*.db
.venv/
venv/
