name: CI Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create logs directory
        run: mkdir -p logs

      - name: Create dummy model.h5
        run: |
          python -c "import tensorflow as tf; model = tf.keras.Sequential([tf.keras.layers.Input(shape=(224,224,3)), tf.keras.layers.Flatten(), tf.keras.layers.Dense(1, activation='sigmoid')]); model.save('model.h5')"

      - name: Run tests
        run: pytest

      - name: Build Docker image
        run: docker build -t cats-dogs-mlops .

      - name: Lint code
        run: |
          pip install flake8
          flake8 src/ --max-line-length=120
